---
layout: default
---
<section class="site-header">
  {% include nav.html %}
</section>
Here are links to where my published writing can be found.
<br />
<br />
- <a href="https://mbird.com/2021/01/technologies-ancient-and-modern/">Technologies, Ancient and Modern</a> — Mockingbird
<br />
- <a href="https://mbird.com/2021/01/wrestling-with-scripture-and-god/">Wrestling with Scripture (and God)</a> — Mockingbird
<br />
- <a href="https://mbird.com/2019/12/a-word-that-would-light-up-the-night-listening-to-nick-caves-ghosteen-in-advent/"> “A Word That Would Light Up The Night”: Listening to Nick Cave’s Ghosteen in Advent</a> - Mockingbird
<br />
- <a href="https://mbird.com/2019/03/the-good-enough-to-shame-the-great/">The Good-Enough to Shame the Great</a> - Mockingbird
<br />
- <a href="https://www.amazon.com/dp/B08BF14HNN?ref_=pe_3052080_397514860">Two Journeys Home</a> - ONE FOR THE ROAD: AN ANTHOLOGY OF ROAD TRIP WRITING (Attn: Charlottesville residents - copies of ONE FOR THE ROAD can be purchased at New Dominion Bookshop.)